@media screen  and (max-width:334px){
    #Two form{
        display: flex;
    }
}


@media screen  and (max-width:985px){
    .icons{
        margin-top: 0 !important;
        display: flex;
        justify-content: center;
    }

    footer{
        text-align: center;
    }
}