

      @media screen and (max-width:992px){
        .navbar-light .navbar-toggler{
            z-index: 1 !important;
        }

        .button1{
            font-size: 13px;
        }

        .text1{
            font-size: 45px;
        }

        .about-text{
            margin: 0px !important;
        }
    }




    @media screen and (max-width:768px){
        .image-r img{
            width: 70%;
        }

        .about{
            margin: 0 !important;
        }


        .about-text {
            margin-top: 34rem !important;
            margin-bottom: 3rem !important;
            width: 100% !important;
        }

        .footers{
            margin-top: 0px !important;
        }
    }


    

    @media screen and (max-width:576px){
        .image-r img{
            width: 70%;
        }

        .about{
            margin: 0 !important;
        }


        .about-text {
            margin-top: 25rem !important;
            margin-bottom: 3rem !important;
            margin-left: 2rem !important;
            width: 100% !important;
        }

        .text1{
            font-size: 23px;
        }

        .icons svg{
            width: 15px;
        }

        .paragraf p{
            font-size: 13px !important;
        }
    }



    
    @media screen and (max-width:480px){
        .image-r img{
            width: 70%;
        }

        .about{
            margin: 0 !important;
        }

        .navbar-nav{
            height: 15px !important;
        }


        .about-text {
            margin-top: 21rem !important;
            margin-bottom: 3rem !important;
            width: 100% !important;
        }
    }


    @media screen and (max-width:462px){
        .image-r img{
            width: 70%;
        }

        .about{
            margin: 0 !important;
        }


        .about-text {
            margin-top: 21rem !important;
            margin-bottom: 3rem !important;
            width: 100% !important;
        }

        .navbar-nav{
            height: 12px !important;
        }

        .icon-1{
            margin: 0 10px !important;
        }

        .paragraf p{
            font-size: 11px !important;
        }
    }


    @media screen and (max-width:450px){
        .image-r img{
            width: 70%;
        }

        .about{
            margin: 0 !important;
        }


        .about-text {
            margin-top: 21rem !important;
            margin-bottom: 3rem !important;
            margin-left: 1rem !important;
            width: 100% !important;
        }

        .icon-1{
            margin: 0 10px !important;
        }

        .paragraf p{
            font-size: 11px !important;
        }

        .navbar-nav{
            height: 15px !important;
        }
        
    }



    @media screen and (max-width:425px){
        .image-r img{
            width: 70%;
        }

        .about{
            margin: 0 !important;
        }

        .navbar{
            margin-left: -28px !important;
         }

         .navbar-nav{
            height: 10px !important;
        }

        .about-text {
            margin-top: 21rem !important;
            margin-bottom: 3rem !important;
            margin-left: 1rem !important;
            width: 100% !important;
        }

        .icon-1{
            margin: 0 10px !important;
        }

        .navbar-nav{
            height: 15px !important;
        }

        .paragraf p{
            font-size: 11px !important;
        }

        .text1{
            font-size: 18px !important;
        }
        .text2{
            font-size: 14px !important;
        }   
    }


    @media screen and (max-width:415px){
        .image-r img{
            width: 80%;
        }

        .about{
            margin: 0 !important;
        }

        .row{
            margin-right: 1px !important;
        }


        .navbar{
            margin-left: -28px !important;
         }

         
        .navbar-nav{
            height: 10px !important;
        }

        .about-text {
            margin-top: 23rem !important;
            margin-bottom: 3rem !important;
            margin-left: 1rem !important;
            width: 100% !important;
        }

        .container-fluid{
            margin-top: 3rem !important;
        }

        .icon-1{
            margin: 0 10px !important;
        }

        .paragraf p{
            font-size: 11px !important;
        }

        .text1{
            font-size: 18px !important;
        }
        .text2{
            font-size: 14px !important;
        }   
    }


    @media screen and (max-width:409px){
        .image-r img{
            width: 80%;
        }

        .about{
            margin: 0 !important;
        }

        .row{
            margin-right: 1px !important;
        }

        .button1{
            font-size: 10px !important;
            width: 115px !important;
        }

        .about p{
            font-size: 13px !important;
        }

        .about-text {
            margin-top: 22rem !important;
            margin-bottom: 3rem !important;
            margin-left: 1rem !important;
            width: 100% !important;
        }

        .container-fluid{
            margin-top: 3rem !important;
        }

        .navbar{
            margin-left: -28px !important;
         }

         .navbar-nav{
            height: 10px !important;
        }

        .icon-1{
            margin: 0 10px !important;
        }

        .paragraf p{
            font-size: 11px !important;
        }

        .text1{
            font-size: 18px !important;
        }
        .text2{
            font-size: 14px !important;
        }   
    }


    @media screen and (max-width:376px){
        .image-r img{
            width: 76%;
        }

        .about{
            margin: 0 !important;
        }

        .row{
            margin-right: 1px !important;
        }

        .about-text {
            margin-top: 20rem !important;
            margin-bottom: 3rem !important;
            margin-left: 1rem !important;
            width: 100% !important;
        }

        .container-fluid{
            margin-top: 2rem !important;
        }

        .icons svg{
            width: 14px !important;
        }

        .icon-1{
            margin: 0 8px !important;
        }

        .paragraf p{
            font-size: 10px !important;
        }

        .about p{
            font-size: 12px;
        }

        .navbar{
           margin-left: -28px !important;
        }

        .navbar-nav{
            height: 10px !important;
        }

        .text1{
            font-size: 18px !important;
        }
        .text2{
            font-size: 14px !important;
        }   
    }


    @media screen and (max-width:351px){
        .image-r img{
            width: 70%;
        }

        .about{
            margin: 0 !important;
        }

        .row{
            margin-right: 1px !important;
        }

        .navbar{
            margin-left: -28px !important;
         }

         .navbar-nav{
            height: 10px !important;
        }

        .about-text {
            margin-top: 20rem !important;
            margin-bottom: 3rem !important;
            margin-left: 1rem !important;
            width: 100% !important;
        }

        .container-fluid{
            margin-top: 2rem !important;
        }

        .icons svg{
            width: 14px !important;
        }

        .icon-1{
            margin: 0 8px !important;
        }

        .paragraf p{
            font-size: 10px !important;
        }

        .about p{
            font-size: 10px;
        }

        .text1{
            font-size: 18px !important;
        }
        .text2{
            font-size: 14px !important;
        }   
    }



    @media screen and (max-width:322px){
        .image-r img{
            width: 60%;
        }

        .about{
            margin: 0 !important;
        }

        .row{
            margin-right: 1px !important;
        }


        .button1{
            font-size: 9px !important;
            width: 104px !important;
        }

        .about-text {
            margin-top: 10rem !important;
            margin-bottom: 3rem !important;
            margin-left: 1rem !important;
            width: 100% !important;
        }

        .navbar-nav{
            height: 125px !important;
        }

        .icons svg{
            width: 12px !important;
        }

        .icon-1{
            margin: 0 8px !important;
        }

        .paragraf p{
            font-size: 8px !important;
        }

        .about p{
            font-size: 9px !important;
        }

        .text1{
            font-size: 18px !important;
        }
        .text2{
            font-size: 14px !important;
        }   
    }



    


    
  

    
  
